extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together!
      h1 My Portfolio

      //- Add a description for your portfolio, what this project is, it's purpose, what it's suppossed to accomplish, etc.
      p.lead.text-light
        | This portfolio was made using express to create routes to render pug templates, which shows projects that I have done with Javascript.
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each val in data.project
      
        .cell
          a(href=`/projects${val.id}`)
            img.thumbnail(src=`${val.image_urls[0]}`)
            h5 #{val.project_name}
